@font-face {
    font-family: 'Magical Sparkle';
    src: url('MagicalSparkle.eot');
    src: url('MagicalSparkle.eot?#iefix') format('embedded-opentype'),
        url('MagicalSparkle.woff2') format('woff2'),
        url('MagicalSparkle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

